# dependencies
/node_modules

# generated content
.source

# environment variables (commit .env.example only)
.env
.env*.local

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# platforms
.vercel

# local files written by the Claude desktop app
Claude outputs/
